# Dependencias
node_modules/

# Build
dist/
build/
out/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Variables de entorno
.env
.env.*

# Archivos de TypeScript
*.tsbuildinfo

# IDEs y editores
.vscode/
.idea/
.zed/

# Sistema operativo
.DS_Store
Thumbs.db

# Coverage/tests
coverage/

# Cache
.cache/
.next/
.nuxt/
.svelte-kit/

# Package managers
.pnpm-store/
